@import 'tailwindcss';

@theme {
  --color-primary: #0f766e; /* Teal-600, common for modern govs / civic tech */
  --color-primary-dark: #115e59; /* Teal-700 */
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f8fafc; /* Slate-50 */
  -webkit-font-smoothing: antialiased;
}

/* Base interactive map styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  z-index: 10;
}
